
# Hardhat files
/cache
/artifacts
/contracts-bootstrap

# TypeChain files
/typechain
/typechain-types

# Solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/
node_modules
package-lock.json
hardhat.config.js
yarn.lock
node_modules
.env

# VS Code
.vscode

# Truffle & Hardhat
/scripts

# GAC DEV
tree.txt
yarn-error.log